<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>JSLintMate<%= ' (with JSHint)' if linter_name == 'jshint' %></title>
  <style>
    <%= JSLintMate.css %>
  </style>
</head>
<body>
  <%= result %>
  <script>
    <%= JSLintMate.js %>
  </script>
</body>
</html>
